<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
          <li><a href="home.ejs">Home</a></li>
          <li><a href="services.ejs">Our Services </a></li>
          <li><a href="contact.ejs"> Contact Us</a></li>
        </ul>
      </header>
      <div class="contact-info">
      <div class="intro">
        <h2>Let's get on touch</h2>
        <p>
          If you have a suggestion, comment or reclamation, you can fill in
          the form or you can visit, email and call us.
        </p>
      </div>

      <div class="info">
        <img
          src="images/adress.png"
          alt="adress"
          width="28px"
          ,
          height="28px"
        />
        <p>Djerba, Tunisia</p>
      </div>
      <div class="info">
        <img
          src="images/mail.png"
          alt="email"
          width="28px"
          ,
          height="28px"
        />
        <p>boumessouerabdelkarim@gmail.com</p>
      </div>
      <div class="info">
        <img
          src="images/phone.png"
          alt="phone"
          width="28px"
          ,
          height="28px"
        />
        <p>+216 20 714 971</p>
      </div>
    </div>
      <div class="message">
        <h3 class="title">Contact us</h3>
        <div class="input-container">
          <input type="text" name="name" class="input" />
          <label for="">Username</label>
          <span>Username</span>
        </div>
        <div class="input-container">
          <input type="email" name="name" class="input" />
          <label for="">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="tel" name="phone" class="input" />
          <label for="">Phone</label>
          <span>Phone</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" class="input"></textarea>
          <label for="">Message</label>
          <span>Message</span>
        </div>
        <input type="submit" value="Send" class="btn" />
      </div>
</body>
</html>