<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
          <li><a href="home.ejs">Home</a></li>
          <li><a href="services.ejs">Our Services </a></li>
          <li><a href="contact.ejs"> Contact Us</a></li>
        </ul>
      </header>
      <div >
        <iframe
          class="img"
          src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcRvySAkZMPUkiIrn9blMw50GitSww3vvQTr429xZPlsyea62TnnPFwG3fTxBc7NbtJY"
        ></iframe>
      </div>
      <footer>
        <p>Developed by Abdelkarim @Copyright2021</p>
      </footer>
    
</body>
</html>