<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
          <li><a href="home.ejs">Home</a></li>
          <li><a href="services.ejs">Our Services </a></li>
          <li><a href="contact.ejs"> Contact Us</a></li>
        </ul>
      </header>
      
        OLYMPIA est une entreprise italienne spécialisée dans la fabrication de peinture décorative écologique.</p>

Il a été créé en 1992 par Simeone Cirillo qui a décidé de mettre en œuvre un projet qu’il poursuivait depuis 1960, date à laquelle il a commencé sa première expérience en tant que peintre en Suisse, il a créé une peinture décorative durable et de haute qualité, elle est fabriquée en correspondance avec la tradition italienne.

Graffiato et Santex, ont été les premiers produits de peinture fabriqués, développés dans un petit laboratoire avec seulement trois travailleurs. Bientôt, ces produits se distinguent par leur excellente qualité et leur durabilité. Depuis lors, Olympia n’a cessé d’innover sa gamme de produits et de l’enrichir constamment de nouvelles couleurs et de nouveaux aspects, et avec des reflets des tendances d’aujourd’hui et de demain, afin de rendre ses connaissances accessibles à tous avec de nombreux effets décoratifs comme Stucco, Marmorino, Travertin, ère Antica, etc.

      
</body>
</html>